<section  class="d-flex justify-content-center " >
  <div class=" container row  d-flex justify-content-center ">
    <div class="ml-5 col-md-6">
      <h2 class="text-center my-5 ">Add Coupen</h2>
      <form class="d-flex aling-item-center flex-column" action="/admin/add-coupen" method="post" >
        
        <input id="coupenInput" type="text" name="name" class="form-control mb-3" placeholder="Coupen Name" required>
        <input id="coupenInput" type="text" name="value" class="form-control mb-3" placeholder="Coupen Value" required>


        <button  style="background-color:#EF3772; color:#fff;" type="submit" class="btn mt-1" required>Submit</button>

      </form>
    </div>
  </div>
</section>

