<section class="px-5 pt-5 text-center">

<div class="table-responsive mt-5">
  <table class="table table-hover table-borderless">
    <thead >
      <tr class="border border-1 border-seconday border-start-0 border-end-0">
        <th scope="col">No</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>
   {{#each user}}
      <tr>
        <th scope="row">1</th>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td><a href="/blockOrunBlock" class="btn btn-danger ">Block</a></td>
      </tr>

{{/user}}

    </tbody>
  </table>
</div>
</section>