    <header id="admin-header">
       
      <nav>
         <div class="nav-leftside">
          <a href="/">  <img src="/images/logo.png" alt="images"></a>
   
        </div>

   

            {{#if adminLogin}}
            <div  class="menu">
               <ul>
    
                <li class="active" ><a  href="#">Dashbord</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Orders</a></li>
                <li><a href="/admin/users">Users</a></li>
             
               </ul>
            </div>

               <div  class=" login-btn">
            <a href="/admin/adminLogout" type="button" class="btn nav-btn">Logout</a>
          </div>


          {{else}}

          <h5 class="admin-panel-text">Adminpanel &nbsp;&nbsp;</h5>
          
          {{/if}}
        </div>

      </nav>
    </header>