  
  
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
     font-family: "Poppins", sans-serif;

}
img{
    width: 100%;
}

/* a,
a:hover {
    text-decoration: none;
    color: inherit;
} */
a{
    text-decoration: none;

}
textarea:focus,textarea:focus, input:focus{
    outline: none;
}

.dataTables_wrapper .dataTables_filter input{
    border-radius: 8px;
    margin-left: 10px;
    max-width: 12rem;
}

nav{
    padding: 7px 10px;
    width: 100vw;
    min-height:5rem;

   display: flex;
   align-items: center;
   justify-content: space-between;
   box-shadow: 0px 4px 31px 14px rgba(0, 0, 0, 0.05);
}
nav .nav-leftside{
    width: 6rem;
}
nav .nav-rightside{
    display: flex;
    align-items: center;
   gap: 0.5rem;
   padding-right: 1rem;

}
nav .nav-btn{
    font-size: 15px;
    color: #fff;
    text-align: center;
    background: rgba(239, 55, 114, 0.73);
    margin-right: 1rem;
}

.icons{
    font-size: 19px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: rgba(14, 116, 144, 0.74);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
}


/* preset the tables */
.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}


/* Admin panel */
#admin-header .admin-panel-text{
    color: rgba(239, 55, 114, 0.73);
    margin-bottom: 0;
}
#admin-header .menu ul{
    display: flex;
    gap: 2rem;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;

}

#admin-header .menu ul li{
    
    display: inline-block;

}
#admin-header .menu ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 400;
}
#admin-header .menu ul li a.active{
    color: rgba(239, 55, 114, 0.73);
}

button.log-reg-btn{
    background-color:#F36D98;
    color: #fff;
}

/* otp  */
#otp .card {
    width: 350px;
    padding: 7px;
    border-radius: 20px;
    background: #fff;
    border: none;
    min-height: 350px;
    max-width: 400px;
    position: relative;
    text-align: center;
  }
  
  #otp .container {
    height: 100vh;
  }
  
  
  #otp .mobile-text {
    color: #989696b8;
    font-size: 15px;
    margin-top: 10px;
  }
  
  #otp .form-control {
    margin-right: 12px;
  }
  
  #otp.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ff8880;
    outline: 0;
    box-shadow: none;
  }






.section-products {
    padding: 80px 0 54px;
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444; 
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    max-width: 300px;
    /* height: 290px; */
    max-height: 290px;
    margin-bottom: 20px;
    /* overflow: hidden; */
}

.section-products .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
}


.section-products #product-1 .part-1 img{
width: 100%;
height: 100%;
 object-fit: contain;
}




.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 80px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {

    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}
.section-products .single-product .part-2 .product-offer{
    font-size: 14px;
    font-weight: 300;
    color: red;
 
}
/*  */
.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}




/* respossive */
@media screen and (max-width:480px){
    
  
    .icons{
        font-size: 17px;
        height: 27px;
        width: 27px;

    }
    nav .nav-rightside{
        padding-right: 5px; 
        gap: 5px;
    }
    #admin-header nav .nav-leftside{
        display: none;
    }
   #admin-header nav{
   
        position: relative;
        justify-content: center;
    }
    #admin-header nav .login-btn{
        position: absolute;
        bottom: 5px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        
    }
    #admin-header nav{
        align-items: flex-start;
    }
    



  
}

@media screen and (max-width:600px) {
    #admin-header .menu ul{
        gap: 1rem;
     
    }
    nav .nav-leftside{
        width: 5rem;
    }
      nav .nav-btn{
        
        padding: 3px 18px;
        margin-right: 5px;
    }

}



/* cart style */

@media (min-width: 1025px) {
    .h-custom {
    min-height: 100vh !important;
    }
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    
    .card-registration .select-arrow {
    top: 13px;
    }
    
    .bg-grey {
    background-color: #eae8e8;
    }
    
    @media (min-width: 992px) {
    .card-registration-2 .bg-grey {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }


/* style for cropping image */

img {
    display: block;
    width: 100%;
    height: 100%;
}
.preview {
    overflow: hidden;
    width: 160px; 
    height: 160px;
    margin: 10px;
    border: 1px solid red;
}


/* home page style */



.category{
    width: 100%;
    text-align: center;
}
.heading{
    margin: 20px 0;
}
.category .card-wrapper{
width: 80%;
margin: auto;
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 3rem;
}
.card-wrapper .category-card{
    width: 160px;
    height: 145px;
    background-color: #4D98AD;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;

}
.card-wrapper .category-card .card-text{
    color: #ffff;
    font-size: 1.75rem;
}

@media screen and (max-width:1024px) {
   .card-wrapper .category-card{
    width: 120px;
    height: 110px;
}
.card-wrapper .category-card .card-text{
    font-size: 1.5rem;
}
.category .card-wrapper{
    gap: 2rem;
}

}


@media screen and (max-width:376px) {
    .category .card-wrapper{
        gap: 1rem;
    }

    .card-wrapper .category-card{
        width: 100px;
        height: 90px;
    }
}


/* category section end*/

/* view all btn */
.view-all-product{
    width: 100%;
        display: flex;
    justify-content: center;
    padding: 1rem 0
}

.view-all-product .btn{

   background-color:#EF3772;
   color: #ffff;
   padding: 6px 23px;
}

/* view all btn end*/


/* trending section */

.trending{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.trending .section-products {
    padding: 20px 0 ;

}
.section-products .single-product {
    margin-bottom: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trending .product-img-wrap{
    width:300px;
    height:300px;
}
@media screen and (max-width:374px) {
 


    .trending .product-img-wrap{
       width: 200px;
       height: 200px;
    }



}
/* product ends */




/* trending section end*/

/* home page style ends */