 <section>
            <div class="container-fluid mt-3">
            <div class="container text-center">
                <h1>Thank you.</h1>
                <p class="lead w-lg-50 mx-auto">Your order has been placed successfully.</p>
                <a href="/orders" class="btn btn-success">View Orders</a>
            </div>
        
        </div>
        </section>