  <section class="h-100 h-custom">
    <div class="container py-3 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                
                <!-- left side -->
                <div class="col-lg-8">
                  <div class="p-5">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                      <h1 class="fw-light mb-0 text-black">Billing Details</h1>
                      {{!-- <h6 class="mb-0 text-muted">3 items</h6> --}}
                    </div>
                    <hr class="my-4">



         {{!-- adding address entering page --}}

<div class="ml-5 col-md-6">
      <form class="d-flex aling-item-center flex-column" action="/admin/add-product" method="post"   enctype="multipart/form-data">
        
        <input type="text" name="name" class="form-control mb-3" placeholder="Full Name" required>


        <input type="number" name="phone" class="form-control mb-3" placeholder="Phone Number" required>

        <textarea type="text" name="address" class="form-control mb-3" placeholder="Enter Your Address" rows="3"></textarea>

            <input type="text" name="pincode" class="form-control mb-3" placeholder="Pincode" required>

      </form>
    </div>





         {{!-- adding address entering page --}}



                    <div class="pt-5">
                      <h6 class="mb-0"><a href="/" class="text-body"><i
                            class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                    </div>
                  </div>
                </div>

                <!-- right side -->
                <div class="col-lg-4">
                  <div class="p-5 ">

                    <!-- card -->
                    <div class="card"> 
                      <div class="card-header py-3 bg-white">
                        <h5 class="mb-1">Summary</h5>
                      </div>
                      <div class="card-body">
                        <ul class="list-group list-group-flush">
                          <li
                            class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                            Products
                            <span>${{totalPrice}}</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            Shipping
                            <span>Free</span>
                          </li>
                          <li class="coupon list-group-item d-flex justify-content-between align-items-center px-0 ">
                            Apply Coupon
                            <span>
                              <form action="#">
                                
                                <div class="form-outline ">
                                  <input  style="font-size:10px ;" type="text" id="form3Examplea2" class="form-control"  placeholder="Try New book" />
                               
                                </div>
                         
                              
                             
                            </span>
                          </li>
                          <li
                            class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                            <div>
                              <strong>Total amount</strong>
                              <strong>
                                <p class="mb-0">(including GST)</p>
                              </strong>
                            </div>
                            <span><strong>${{totalPrice}}</strong></span>
                          </li>
                        </ul>
                        <div class="button d-grid ">
                          <a href="/place-order" style="background-color: #eb227ddb;  color: #ffff;" type="submit"  class="btn ">Place Order</a>
                        </div>
                      </form>
                      </div>
                    </div>
                   

                    <!-- card -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


